<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Test Automation Test suite">

  <test  name=" App Test Cases">
    <classes>
      <class name="com.qa.airindia.testcases.ManageYourTripTest"></class>
      
    </classes>
  </test> 
</suite> 

